/*Just fancy stuff!!*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}
body {
  color: #5c0707;
  font-size: 14px;
  font-family: 'Roboto Mono', cursive;
  line-height: 1.6;
}

html, body{
height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
   
    position: relative;
    background: linear-gradient(90deg,#6667AB,#86af49,#fb8b23,#a0d8e5,#ffc0bb ,#cd2e56,#00508b,#ffb755,#6c96af,#005a62,#7c5f4f,#813a76,#d52d24,#cfc1b6,#57585c);
    text-align: center;
    background-size: 400%;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 600;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 11s linear infinite;

  }
  @keyframes animate {
      0%{
         background-position: 0%;
      }
      100%{
        background-position: 188%;
      }
  }
  
  input[type="color"] {
      background-color: #fff;
      padding: 10px;
      width: 200px;
      height: 30px;
      cursor: pointer;
      border: 2px solid #000;
      border-radius: 3px;
      margin: 20px;
  }
  
  b {
    background-color: #fff;
    padding: 16px;
    font-family: sans-serif;
  }
  
  code {
    font-size: 1.2rem;
    background-color: #6667AB;
    color: #fff;
    border-radius: 3px;
    padding: 5px;
  }

